
*{
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  font-size: 1.75em;

}

.menu-item{
  position: relative;
  min-height: 150px;
  margin: 20px;
  border: 1px solid black;
  background-color: gray;

}

.menu-section-title{
  position: absolute;
  right:-1px;
  top: -21px;
  padding: 5px 15px 5px 15px;
  border: 1px solid black;
  font-size: 1.25em;
  font-weight: 550;
  min-width: 100px;
  text-align: center;
}

.item1{
  background-color: #ff3232;
}

.item2{
  background-color: #7D26CD;
  color: white;
}

.item3{
  background-color: #e5e500;
}

.menu-body{
 padding:10px;
}

.row{
  width: 100%;

}

/***Desktop version**/
@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3{
    float: left;
    width: 33%;
  }
}

/***Tablet version***/
@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2, .col-md-3{
    float: left; 
  }

  .col-md-1, .col-md-2{
    width: 50%;
  }

  .col-md-3{
    width: 100%;
  }
}

/***Mobile version***/
@media (max-width: 767px){
  .col-s-1, .col-s-2, .col-s-3{
    float: left;
    width: 100%;

  }
}

