body{
	font-family:'Helvetica','Arial','Serif';
}

#header-nav{
	background-color: #800000;
	border: 0;
	border-radius: 0;
}

.navbar-brand {
  padding-top: 25px;
  float: left;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #e6e600;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 10px;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  float:right;
}
#nav-list a {
  color: #b3b300;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -40px;
}

.menudiv{
	min-height:1000px;
	background-color: gray;
	border-width: 1px;
}



.menu-item{
  position: relative;
  min-height: 150px;
  margin: 20px;
  border: 1px solid black;
  background-color: gray;

}

.menu-section-title{
  padding: 5px 15px 5px 15px;
  font-size: 1.5em;
  font-weight: 550;
  text-align: center;
}


.menu-body{
 padding:10px;
}

.row{
  width: 100%;

}


/***Desktop version**/
@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3{
    float: left;
    width: 33%;
  }
}

/***Tablet version***/
@media (min-width: 768px) and (max-width: 991px){
  .col-md-1, .col-md-2, .col-md-3{
    float: left; 
  }

  .col-md-1, .col-md-2{
    width: 50%;
  }

  .col-md-3{
    width: 100%;
  }
}

/***Mobile version***/
@media (max-width: 767px){
  .col-s-1, .col-s-2, .col-s-3{
    float: left;
    width: 100%;

  }
}


